/bin/
src/com/corrientazo/droneProject/utils/reports/out01.txt
src/com/corrientazo/droneProject/utils/reports/out02.txt
src/com/corrientazo/droneProject/utils/reports/out03.txt
src/com/corrientazo/droneProject/utils/reports/out04.txt
src/com/corrientazo/droneProject/utils/reports/out05.txt
src/com/corrientazo/droneProject/utils/reports/out06.txt
